.paragraph {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin: 5px;
    width: 1200px;
}

.paragraph-button {
    width: 300px;
    margin: 5px auto;
    line-height: 20px;
}